<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghuilv.aitravel.basic.service.mapper.RoleAccessMapper">

    <!-- 查询用户游戏-->
    <insert id="insertByRoleID" useGeneratedKeys="false">
        INSERT  INTO role_access (id,access_id,note) VALUE (#{roleId},#{accessId},#{note})
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="roleId">
                SELECT LAST_INSERT_ID() AS roleId
        </selectKey>
    </insert>
</mapper>